.App {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
}

.list-titles {
display: flex;
justify-content: flex-start;
flex-direction: column;
text-align: left;

}

.container {
  width: 200px;
  
}

.user-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(166, 164, 164, 0.986);
  padding: 10px;
  text-align: left;
  border-radius: 5%;
  margin-bottom: 10px;

}

.card-titles {
  margin-bottom: 15px;
}

.post-titles {
  margin-bottom: 10px;
}

.user-title,
.post-title {
  font-weight: bold;
}

.btn {
  width: 50%;
  background-color: blue;
  color: white;
  border-radius: 10%;
  border: none;
  font-size: 14px;
  padding: 3px;
}

.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}